@page
@model IndexModel
@{
    ViewData["Title"] = "Имейл";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<style>
    ﻿.upload-container {
        position: relative;
        display: inline-block;
    }

    .upload-input {
        position: relative;
    }

        .upload-input input {
            position: absolute;
            text-indent: -9999px;
        }

    .uploaded-image {
        height: 100px;
        cursor: pointer;
    }

    .plus-icon {
        height: 30px;
        width: 30px;
        color: white;
        background: #0b5ed7;
        display: inline-block;
        line-height: 30px;
        font-size: 14px;
        border-radius: 50%;
        text-align: center;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .upload-input:hover .plus-icon {
        background-color: #4830C0;
    }

    .custom-container {
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        background-image: url("/images/account-background.jpg");
        background-size: cover;
    }

    .img-container {
        text-align: center;
    }

    .img-thumbnail {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
    }

    .form-group {
        margin-bottom: 20px;
    }

    form label {
        font-weight: 700;
    }

    #custom-view-profile-image-container-id {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        overflow: hidden;
        display: none !important;
    }

    #custom-view-profile-image-id {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }
</style>
<div class="account-main-page">
    <div class="custom-container">
        <div class="row justify-content-center">
            <div class="col-11 p-0 m-0">
                <h1 class="py-3">Вашият Профил</h1>
            </div>
        </div>
        <partial name="_StatusMessage" for="StatusMessage" />
        @{
            var profileImageLink = $"";
        }
        <form method="post" asp-page-handler="EditInfo" enctype="multipart/form-data">
            <div class="row justify-content-around">
                <div class="col-md-3 img-container">
                    @{
                        string link = $"https://res.cloudinary.com/dzaicqbce/image/upload/v1695818842/profile-image-for-{Model.Id}";
                    }
                    <div class="upload-container">
                        <img src="@link" alt="Image not found" id="main-image-for-showing" class="profile-image-class img-thumbnail rounded-circle uploaded-image" />
                        <div class="upload-input" style="cursor:pointer;">
                            <div class="overlay">
                                <div class="plus-icon" style="cursor:pointer;">
                                    <input asp-for="Image" type="file" class="image-upload" accept=".png, .jpg, .jpeg" multiple="multiple" max="1">
                                    <i class="fa-solid fa-camera"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="custom-view-profile-image-container-id" class="d-flex justify-content-center align-items-center">
                        <img src="@link" id="custom-view-profile-image-id" class="profile-image-class" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group d-flex justify-content-around">
                        <div class="col-5">
                            <label asp-for="FirstName">Име</label>
                            <input type="text" class="form-control" asp-for="FirstName" placeholder="Въведете своето име..." value="@Model.FirstName" />
                        </div>
                        <div class="col-5">
                            <label asp-for="LastName">Фамилия</label>
                            <input type="text" class="form-control" asp-for="LastName" placeholder="Въведете своята фамилия..." value="@Model.LastName" />
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-around">
                        <div class="col-5">
                            <label asp-for="Username">Потребителско име</label>
                            <input type="text" class="form-control" asp-for="Username" placeholder="Въведете своето потребителско име..." value="@Model.Username" />
                        </div>
                        <div class="col-5">
                            <label asp-for="Email">Имейл</label>
                            <input type="text" class="form-control" asp-for="Email" placeholder="Въведете своят имейл..." value="@Model.Email" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success col-11">Запази промените</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
