@using Library.Models.BaseModels;
@model IQueryable<Book>
@{
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<div class="all-books">
    <div class="container">
        <a asp-controller="Librarian" asp-action="AddABook">Add A Book</a>
        @if (Model!=null)
        {
            <table class="table pt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Date of Creation</th>
                        <th>Available Items</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td>@book.Name</td>
                            <td>@book.Author</td>
                            <td>@book.DateOfBookCreation.ToString("yyyy-MM-dd")</td>
                            <td>@book.AvailableItems</td>
                            <td class="row justify-content-between">
                                <a href="@Url.Action("EditBookInformation", "Librarian", new { bookId=book.Id })" class="btn btn-warning col-5" onclick="editBook(@book.Id)">Edit</a>
                                <a class="remove-book btn btn-danger col-5" id="@book.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>