@using Library.Models.BaseModels;
@using Library.Models.Pagination;
@model PaginatedList<Book>
@{
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}
<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: white;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: lightgrey;
    }

    .header-row {
        background-color: darkgrey;
        color: white;
    }
</style>

<div class="all-books">
    <div class="pt-3">
        <div class="d-flex justify-content-center">
            <div class="h2">
                Управление на Книги
            </div>
        </div>
        <div class="d-flex pt-3">
            <a class="col btn btn-success" asp-controller="Librarian" asp-action="AddABook" style="font-size:1.2em">Добави книга</a>
        </div>
        @if (Model != null)
        {
            @if (Model.Count > 0)
            {
                <div id="book-filtering" class="d-flex py-5 justify-content-center">
                    <form asp-action="AllBooksInformation" method="get" class="row">
                        <div class="form-actions no-color">
                            <div class="pr-2 h5 p-0 m-0 row align-items-center justify-content-center pb-2" style="font-weight: 400">
                                Търси книга :
                            </div>
                            <div class="row m-0 pb-2">
                                <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" />
                            </div>
                            <div class="ml-2 p-0 m-0 row align-items-center justify-content-around">
                                <input type="submit" value="Търси..." class="btn btn-dark col-5" />
                                <a class="btn btn-danger col-5" asp-action="AllBooksInformation">Изчисти</a>
                            </div>
                        </div>
                    </form>
                </div>

                <table class="table table-striped" border="1">
                    <thead>
                        <tr class="header-row">
                            <th>Име</th>
                            <th>Автор</th>
                            <th>Дата на създаване</th>
                            <th>Операции</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in Model)
                        {
                            <tr>
                                <td>@book.Name</td>
                                <td>@book.Author</td>
                                <td>@book.DateOfBookCreation.ToString("yyyy-MM-dd")</td>
                                <td class="d-flex">
                                    <a href="@Url.Action("EditBookInformation", "Librarian", new { bookId=book.Id })" class="btn btn-warning  col-5" onclick="editBook(@book.Id)">Промени</a>
                                    <div class="col-2"></div>
                                    <a class="remove-book btn btn-danger col-5" id="@book.Id">Изтрий</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";

                <a asp-action="ManageUsers"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
                <a asp-action="ManageUsers"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            }
            else
            {
                <h2 class="row justify-content-center py-5" style="color:red">
                    Няма налични книги в базата данни
                </h2>
            }
        }
        else
        {
            <h2 class="row justify-content-center py-5" style="color:red">Няма налични книги в базата данни</h2>
        }
    </div>
</div>