@using Library.Models.BaseModels;
@model Book

@{
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

@{
    List<string> bookCategories = ViewBag.BookCategories as List<string>;
    var imageUrl = $"https://res.cloudinary.com/dzaicqbce/image/upload/v1695818842/image-for-book-{Model.Id}.png";
}


<div class="edit-a-book">
    <div class="container">
        <h2>Edit Book @Model.Id</h2>

        <div id="editBookForm" class="@Model.Id">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label asp-for="Author"></label>
                <input asp-for="Author" class="form-control" value="@Model.Author" />
            </div>
            <div class="form-group">
                <label asp-for="DateOfBookCreation"></label>
                <input asp-for="DateOfBookCreation" class="form-control" type="date" value="@Model.DateOfBookCreation.ToString("yyyy-MM-dd")" />
            </div>

            @if (bookCategories != null)
            {
                <div class="form-group">
                    <label for="Genre_CategoryName">Category Name:</label>
                    <select id="Genre_CategoryName" name="Genre_CategoryName" class="form-control">
                        <option value="">Select Genre</option>
                        @foreach (var category in bookCategories)
                        {
                            @if (category==Model.Genre!.CategoryName)
                            {
                                <option value="@category" selected>@category</option>
                            }
                            else
                            {
                                <option value="@category">@category</option>
                            }
                           
                        }
                    </select>
                </div>
            }
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" value="@Model.Description"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="AvailableItems"></label>
                <input asp-for="AvailableItems" class="form-control" value="@Model.AvailableItems" />
            </div>
            <div class="form-group">
                <label asp-for="NeededMembership"></label>
                <input asp-for="NeededMembership" class="form-control" value="@Model.NeededMembership" />
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="form-label" for="book-image-1">Book Cover</label>
                    <div class="upload-input">
                        <input type="file" id="book-image-1" name="book-image-1" class="image-upload" accept=".png, .jpg, .jpeg" multiple="multiple" max="1">
                        <img class="uploaded-image" src="@imageUrl" />
                        <label for="book-image-1" class="text-center content">
                            <span class="text">
                                <span class="mb-15 plus-icon"><i class="fa fa-plus"></i></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <button id="editBookButton" class="btn btn-success ">Submit Changes</button>
            <a asp-controller="Librarian" asp-action="AllBooksInformation" class="btn btn-danger ">Cancel</a>
        </div>
    </div>
</div>