@using Library.Models.ViewModels;
@model LeasedTrackerViewModel
@{
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}
<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: white;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: lightgrey;
    }

    .category-catalog {
        font-size: 2.4em;
        color: black;
        position: relative;
        padding: 10px 0;
        margin: 0;
        font-weight: 500;
    }

    @@media (max-width: 1000px) {
        .category-catalog {
            font-size: 1.8rem;
        }
    }

    .category-catalog:hover {
        text-decoration: underline;
        text-decoration-color: #00D1D1;
    }

    .category-catalog.active {
        text-decoration: underline;
        color: #00D1D1;
    }

    .category-main-div-for-catalog {
        padding: 0;
        margin: 0;
    }

    .btn,
    .btn:active,
    .btn:focus,
    .btn:hover {
        box-shadow: none !important;
        border: none !important;
        outline: none !important;
    }

    .table tr, th, td, thead, tbody {
        border: 1px solid black !important
    }

    .modal-header a {
        font-size: 2.1em;
    }
</style>
<div class="leased-tracker-page">
    <div class="row pt-3 pb-5 mb-2">
        <div class="col-2 col-md-1"></div>
        <div class="text-center py-2 col-8 col-md-10 display-4">Управление на категории</div>
        <a class="col-2 col-md-1 align-self-center" href="#" data-toggle="modal" data-target="#infoModal"><i class="fa-regular fa-circle-question fa-2xl"></i></a>
        <hr class="py-1" style="color:#00d1d1" />
    </div>
    <div class="row justify-content-around">
        <div class="col col-lg-2 category-main-div-for-catalog text-center">
            <a class="btn @(Model.Category  != "Active" && Model.Category  != "Expired" ? "active" : "") category-catalog" href="@Url.Action("LeasedTracker", "Librarian", new { Category  = ""})">Чакащи</a>
        </div>
        <div class="col col-lg-2 category-main-div-for-catalog text-center">
            <a class="btn @(Model.Category  == "Active" ? "active" : "") category-catalog" href="@Url.Action("LeasedTracker", "Librarian", new { Category  = "Active"})">Активни</a>
        </div>
        <div class="col col-lg-2 category-main-div-for-catalog text-center">
            <a class="btn @(Model.Category  == "Expired" ? "active" : "") category-catalog" href="@Url.Action("LeasedTracker", "Librarian", new { Category  = "Expired"})">Отминали</a>
        </div>
    </div>
    <hr style="color:#00d1d1" class="py-1" />

    <div class="container">
        @if (Model != null)
        {
            if (Model.LeasedBooks.Count() > 0)
            {
                <table class="table table-striped" border="1">
                    <thead>
                        <tr class="header-row">
                            <th class="fs-4 text-center">Имейл на потребител</th>
                            <th class="fs-4 text-center">Заглавие на книга</th>
                            @if (Model.Category == "Expired")
                            {
                                <th class="fs-4 text-center">Дата на изтичане</th>
                            }
                            @if (Model.Category == "Active")
                            {
                                <th class="fs-4 text-center">Час на изтичане</th>
                            }
                            <th class="fs-4 text-center">Операции</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usLeased in Model.LeasedBooks)
                        {
                            <tr>
                                <td class="fs-5">@usLeased.User.Email</td>
                                <td class="fs-5">@usLeased.Book.Title</td>
                                @if (Model.Category == "Expired")
                                {
                                    <td class="fs-4 text-center">@usLeased.DateOfBorrowing</td>
                                }
                                @if (Model.Category == "Active")
                                {
                                    <td class="fs-4 text-center">@usLeased.DateOfBorrowing</td>
                                }
                                <td class="text-center operations-container" data-userLeasedId="@usLeased.Id">
                                    @if (Model.Category == "Expired")
                                    {
                                        <a id="deleteBtn" class="btn btn-danger col fs-5">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    }
                                    else if (Model.Category == "Active")
                                    {
                                        <a id="stopLeasingBtn" class="btn btn-danger col fs-5">Спри</a>
                                    }
                                    else
                                    {
                                        <a id="leaseBookBtn" class="btn btn-warning col fs-5 ">Отдай</a>
                                        <a id="rejectLeaseBtn" class="btn btn-danger col fs-5 ">Откажи</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="row align-items-center justify-content-center py-3">
                    <h1 class="text-danger text-center">Няма данни за дадената категория</h1>
                </div>
            }

        }
        else
        {
            <div class="row align-items-center justify-content-center py-3">
                <h1 class="text-danger text-center">Няма данни за дадената категория</h1>
            </div>
        }

    </div>
</div>