@using Library.Models.ViewModels;
@{
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}
<style>
    #genreChart {
        height: 30rem !important;
        width: 30rem !important;
    }

    a {
        text-decoration: none !important;
    }

        a:hover {
            text-decoration: none !important;
        }

    .modal-header a {
        font-size: 2.1em;
    }
</style>
@model ReportViewModel
<div class="report-page-librarian">
    <div class="row py-4">
        <div class="col-2 col-md-1"></div>
        <div class="text-center py-2 display-4 col-8 col-md-10">Отчети на приложението</div>
        <a class="col-2 col-md-1 align-self-center" href="#" data-toggle="modal" data-target="#infoModal"><i class="fa-regular fa-circle-question fa-2xl"></i></a>
        <hr class="py-1" style="color:#00d1d1" />
    </div>
    <div class="container">
        <div class="d-flex h4">
            <div style="font-weight:700">Брой на потребителите вписани в базата:&nbsp</div>
            <div>@Model.AmountOfUsers</div>
        </div>
        <div class="d-flex h4">
            <div style="font-weight:700">Брой на книгите вписани в базата:&nbsp</div>
            <div>@Model.AmountOfBooks</div>
        </div>
        <div class="d-flex h4">
            <div style="font-weight:700">Брой на категориите вписани в базата:&nbsp</div>
            <div>@Model.AmountOfCategories</div>
        </div>
        <div class="d-flex h4">
            <div style="font-weight:700">Брой на темите вписани в базата:&nbsp</div>
            <div>@Model.AmountOfSubjects</div>
        </div>
        <div class="d-flex h4">
            <div style="font-weight:700">Брой на отдадените книги в момента:&nbsp</div>
            <div>@Model.AmountOfLeased</div>
        </div>
        <hr />
        <div class="row justify-content-center">
            <div class="text-center pb-3 h2" style="font-weight:700">Най-отдаваната книга&nbsp:&nbsp</div>
            <div class="form-group row justify-content-center">
                <div class="col-12 col-md-7 col-lg-6 py-3 fs-5">
                    <select class="form-control fs-5" id="bookSelect">
                        <option value="Today">Днес</option>
                        <option value="Yesterday">Вчера</option>
                        <option value="Week">Тази седмица</option>
                        <option value="Month">Този месец</option>
                        <option value="Year">Тази година</option>
                        <option value="Personalized">Персонализирано(натисни)</option>
                    </select>
                    <select class="form-control fs-5" id="amountOfBookItems">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <div id="book-personalized-row" style="display:none !important">
                        <div class="d-flex justify-content-around">
                            <div class="d-flex flex-column">
                                <label>От:</label>
                                <input type="datetime-local" class="form-control" id="from-date-book" />
                            </div>
                            <div class="d-flex flex-column">
                                <label>До:</label>
                                <input type="datetime-local" class="form-control" id="to-date-book" />
                            </div>
                            <div class="col align-self-end text-end">
                                <a class="btn btn-success col-12" id="personalized-book-time-btn">Търси</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center" id="bookContainer">
                @if (Model.MostLeasedBook != null)
                {
                    if (Model.MostLeasedBook.Id != Guid.Empty)
                    {
                        var imageUrl = $"https://res.cloudinary.com/dzaicqbce/image/upload/v1695818842/image-for-book-{Model.MostLeasedBook.Id}.png";

                        <a href="/Home/BookPage?bookId=@Model.MostLeasedBook.Id">
                            <div class="d-flex justify-content-center align-items-center mb-2" style="border: 1px solid #ccc; overflow: hidden;">
                                <img src="@imageUrl" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                            </div>
                            <div class="h3 text-center py-3 text-dark">" @Model.MostLeasedBook.Name "</div>
                        </a>

                    }
                    else
                    {
                        <div id="no-book-items-in-db" class="text-center text-center h2" style="color:red;">Няма данни в базата между тези дни!</div>
                    }
                }
                else
                {
                    <div id="no-book-items-in-db" class="text-center text-center h2" style="color:red;">Няма данни в базата между тези дни!</div>
                }
            </div>

        </div>
        <hr />

        <div class="row justify-content-center">
            <div class="h2 text-center pb-3" style="font-weight:700">Най-четени кагетории&nbsp;:&nbsp;</div>
            <div class="form-group row justify-content-center">
                <div class="col-12 col-md-7 col-lg-6 py-3 fs-5">
                    <select class="form-control fs-5" id="genreSelect">
                        <option value="Today">Днес</option>
                        <option value="Yesterday">Вчера</option>
                        <option value="Week">Тази седмица</option>
                        <option value="Month">Този месец</option>
                        <option value="Year">Тази година</option>
                        <option value="Personalized">Персонализирано(натисни)</option>
                    </select>

                    <div id="genre-personalized-row" style="display:none !important">
                        <div class="d-flex justify-content-around">
                            <div class="d-flex flex-column">
                                <label>От:</label>
                                <input type="datetime-local" class="form-control" id="from-date-genre" />
                            </div>
                            <div class="d-flex flex-column">
                                <label>До:</label>
                                <input type="datetime-local" class="form-control" id="to-date-genre" />
                            </div>
                            <div class="col align-self-end text-end">
                                <a class="btn btn-success col-12" id="personalized-genre-time-btn">Търси</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <canvas id="genreChart" width="400" height="200"></canvas>
            <div id="no-chart-items-in-db" class="text-center text-center h2" style="color:red; display:none;">Няма данни в базата между тези дни!</div>
        </div>
        <div class="row"></div>
    </div>
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-1"></div>
                    <h3 class="modal-title col-8 text-center" id="infoModalLabel">Допълнителна информация</h3>
                    <a class="close btn col-1 py-0 my-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>

                <div class="container">
                    <div>
                        <div class="container">
                            <p style="font-weight: bold; font-size:larger">Предоставената страница дава възможност на персонала да разглежда статистики за приложението.</p>
                        </div>
                        <hr />
                        <br />
                        <div class="containter">
                            <strong style="font-size: larger;">Могат да видят:</strong>
                            <ul>
                                <li>Броят на активните потребители в приложението</li>
                                <li>Броят на вписаните книги в базата</li>
                                <li>Броят на категориите в приложението</li>
                                <li>Броят на темите в приложението</li>
                                <li>Броят на отдадените книги в момента</li>
                                <li>Най-четените автори в даден период, избиращ се от падащ списък</li>
                                <li>Най-отдаваната книга в даден период, избиращ се от падащ списък</li>
                                <li>Разгледат информацията за най-четените категории</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var genresData = @Json.Serialize(Model.MostReadGenres);
        var canvas = document.getElementById('genreChart');

        if (!genresData || genresData.length === 0) {
            var noItems = document.getElementById('no-chart-items-in-db');
            if (noItems) {
                noItems.style.display = 'block';
                canvas.style.display = 'none';
            }
        } else {

            var ctx = canvas.getContext('2d');

            ctx.clearRect(0, 0, canvas.width, canvas.height);

            var genres = [];
            var percentages = [];
            var colors = [];

            genresData.forEach(function (item) {
                var parts = item.split('-');
                var genreName = parts[0].trim();
                var percentage = parseFloat(parts[1].trim());

                genres.push(genreName);
                percentages.push(percentage);

                var randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
                colors.push(randomColor);
            });

            window.myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: genres,
                    datasets: [{
                        label: 'Percentage',
                        data: percentages,
                        backgroundColor: colors,
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        datalabels: {
                            formatter: (value, ctx) => {
                                let sum = 0;
                                let dataArr = ctx.chart.data.datasets[0].data;
                                dataArr.map(data => {
                                    sum += data;
                                });
                                let percentage = (value * 100 / sum).toFixed(2) + "%";
                                return percentage;
                            },
                            color: '#fff',
                        }
                    },
                    legend: {
                        display: true,
                        position: 'left',
                        align: 'start',
                        labels: {
                            boxWidth: 10
                        },
                        title: {
                            display: true,
                            text: 'Legend'
                        }
                    }
                }
            });
        }

    });
</script>