@using Library.Models.ViewModels;
@model BookPageViewModel

@{
    var imageUrl = "";
    string abbreviation = "";
    var book = Model.Book;
    if (book != null)
    {
        imageUrl = $"https://res.cloudinary.com/dzaicqbce/image/upload/v1695818842/image-for-book-{Model.Book.Id}.png";
        var month = book.DateOfBookCreation.Month;
        System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("bg-BG");

        switch (month)
        {
            case 1:
                abbreviation = "яну.";
                break;
            case 2:
                abbreviation = "фев.";
                break;
            case 3:
                abbreviation = "март";
                break;
            case 4:
                abbreviation = "апр.";
                break;
            case 5:
                abbreviation = "май";
                break;
            case 6:
                abbreviation = "юни";
                break;
            case 7:
                abbreviation = "юли";
                break;
            case 8:
                abbreviation = "авг.";
                break;
            case 9:
                abbreviation = "септ.";
                break;
            case 10:
                abbreviation = "окт.";
                break;
            case 11:
                abbreviation = "ное.";
                break;
            case 12:
                abbreviation = "дек.";
                break;
            default:
                abbreviation = "";
                break;
        }
    }
}
<style>
    .left-table-prop, .right-table-prop {
        font-size: 1.25rem;
    }

    .left-table-prop {
        font-weight: 700
    }

    .btns-for-borrowing a {
        font-size: 1.35rem !important;
    }

    .description-header {
        border-top: 0.3em solid aliceblue;
        border-bottom: 0.3em solid aliceblue;
        font-size: 2em;
        font-weight: 700;
    }

    .description-content {
        font-size: 1.25em;
    }

    .rate {
        float: left;
        clear: both;
        height: 46px;
        padding: 0 10px;
    }

        .rate input[type="radio"] {
            display: none;
        }

        .rate label {
            float: right;
            cursor: pointer;
        }

            .rate label .star-icon::before {
                content: '★ ';
                font-size: 30px;
                color: #ccc;
            }

        .rate input[type="radio"]:checked ~ label .star-icon::before {
            color: #ffc700;
        }

        .rate label:hover .star-icon::before,
        .rate label:hover ~ label .star-icon::before {
            color: #deb217;
        }
</style>
<div class="book-page ">
    <div class="container">
        <div class="row  pt-5 mt-5 mt-lg-0 justify-content-around">
            <div class="col-11 col-lg-5">
                <div class="row">
                    <img src="@imageUrl" />
                </div>
                <hr />
                <div class="row">
                    <div class="col-6 left-table-prop">Име на книгата:</div>
                    <div class="col-6 right-table-prop">@book!.Title</div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-6 left-table-prop">Автор:</div>
                    <div class="col-6 right-table-prop">@book.Author</div>
                </div>
                <hr />
                <div class="row">
                    <div class="col align-self-center">
                        <div class="left-table-prop ">
                            Оценете Книгата:
                        </div>
                    </div>
                    <div class="col">
                        <div class="rate p-0 m-0" data-book-id="@Model.Book.Id">
                            @for (int i = 5; i >= 1; i--)
                            {
                                <input type="radio" id="star@(i)" name="rate" value="@i" @(Model.StarRatingAmount == i ? "checked" : "") />
                                <label for="star@(i)" title="text"><span class="star-icon"></span></label>
                            }
                        </div>
                        <div class="row justify-content-center fs-4 align-items-center" style="height:46px;">
                           @Model.AverageRate /5
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-6 left-table-prop">Дата на създаване:</div>
                    <div class="col-6 right-table-prop">@book.DateOfBookCreation.ToString("dd") @abbreviation @book.DateOfBookCreation.ToString("yyyy") г.</div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-6 left-table-prop">Жанр</div>
                    <div class="col-6 right-table-prop">@book!.Genre!.CategoryName</div>
                </div>
                <hr />
            </div>
            <div class="col-11 col-lg-6">
                <div class="row btns-for-borrowing">
                    @if (User!.Identity!.IsAuthenticated)
                    {
                        if (Model.UserIsAuthorized)
                        {
                            @if (!Model.HasUserBorrowedIt)
                            {
                                <a class="btn btn-success borrow-book-btn" id="@book.Id">Заяви книгата</a>
                            }
                            else
                            {
                                if (!Model.IsDisabled)
                                {
                                    @if (Model.IsLinkAvailable)
                                    {
                                        if (Model.IsWaiting)
                                        {
                                            <div class="d-flex">
                                                <a class="btn btn-warning col fs-5 disabled">Изчакайте потвърждение</a>
                                            </div>
                                        }
                                        else if (!Model.IsBookAllowed)
                                        {
                                            <div class="d-flex">
                                                <a class="btn btn-danger col fs-5 disabled">Достъпът до книгата е забранен</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex">
                                                <a id="@Model.Book.Id" class="btn read-book-btn col fs-5 text-white" style="background:#00d1d1;" data-id="@Model.Book.ISBN">Чети книгата</a>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="d-flex">
                                            <a class="btn btn-danger col fs-5 disabled">Тази книга не може да бъде отдавана</a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <a class="btn btn-secondary disabled" disabled>Вашият период на четене изтече</a>
                                }
                            }
                        }
                        else
                        {
                            <a class="btn btn-secondary disabled">Нямате нужното ниво да четете книгата</a>
                        }
                    }
                    else
                    {
                        <a class="btn btn-success unauth-borrow-book-btn" id="@book.Id">Заяви книгата</a>
                    }
                </div>
                <div class="row pt-3">
                    <div class="d-flex p-2  justify-content-center align-items-center description-header">
                        Описание на книгата
                    </div>
                    <div class="d-flex p-3 description-content">
                        @book.Description
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>