@using Library.Models.ViewModels;
@model SearchViewModel

<style>
    .searcher-catalog {
        font-size: 1.4em;
        color: black;
        position: relative;
        padding:10px 0;
        margin:0;
        font-weight:500;
    }

            .searcher-catalog:hover {
                text-decoration: underline;
            text-decoration-color:#00D1D1;
            }

        .searcher-catalog.active {
            text-decoration: underline;
            color: #00D1D1;
        }

    .searcher-main-div-for-catalog{
        padding:0;
        margin:0;
    }

    .btn,
    .btn:active,
    .btn:focus,
    .btn:hover {
        box-shadow: none !important;
        border: none !important;
        outline: none !important;
    }

</style>

<div class="container pt-3">
    <div class="row">
        <div class="h1">Търсачка на книги</div>
    </div>
    <div class="row pt-3">
        <div class="col col-lg-1 searcher-main-div-for-catalog text-center">
            @if (Model.searchCategory != "Authors" && Model.searchCategory != "Subjects")
            {
                <a class="btn active searcher-catalog" href="@Url.Action("Search", "Home")">Книги</a>
            }
            else
            {
                <a class="btn searcher-catalog" href="@Url.Action("Search", "Home")">Книги</a>

            }
        </div>
        <div class="col col-lg-1 searcher-main-div-for-catalog text-center">
            @if (Model.searchCategory == "Authors")
            {
                <a class="btn active searcher-catalog" href="@Url.Action("Search", "Home", new { searchCategory = "Authors" })">Автори</a>
            }
            else
            {
                <a class="btn searcher-catalog" href="@Url.Action("Search", "Home", new { searchCategory = "Authors" })">Автори</a>

            }
        </div>
        <div class="col col-lg-1 searcher-main-div-for-catalog text-center">
            @if (Model.searchCategory == "Subjects")
            {
                <a class="btn active searcher-catalog" href="@Url.Action("Search", "Home", new { searchCategory = "Subjects" })">Жанр</a>
            }
            else
            {
                <a class="btn searcher-catalog" href="@Url.Action("Search", "Home", new { searchCategory = "Subjects" })">Жанр</a>
            }
        </div>
    </div>
    <div class="row justify-content-center justify-content-lg-start">
        <input class="col-8 col-lg-6" />
        <div class="col-3 col-lg-1 p-0 m-0 text-center">
            <a class="btn btn-success">Търси</a>
        </div>
    </div>
</div>
