@using System.Reflection;
@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.Extensions.Logging;
@using Library.DataAccess.MainModels;
@using Library.Web.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Наука</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" type="x-icon" href="~/images/litify-logo.png" sizes="64x64" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script type="text/javascript" src="https://kit.fontawesome.com/47edf10d0e.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--ALERTS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/library/css/custom/MainLayout.css" asp-append-version="true">
    <link rel="stylesheet" href="~/library/css/custom/MainLayoutExtended.css" asp-append-version="true">
    <link rel="stylesheet" href="~/library/css/custom/ImagePost.css" asp-append-version="true">
    <link rel="stylesheet" href="~/library/css/custom/CustomLoader.css" asp-append-version="true">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand p-0 m-0 pb-1" asp-area="" asp-controller="Home" asp-action="MainPage">
                    <img src="~/images/litify-logo.png" style="width:65px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="p-3 navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav align-items-center flex-grow-1 pl-2">
                        <li class="nav-item">
                            <a class="nav-link nav-item fontawesome-icons" asp-area="" asp-controller="Home" asp-action="Borrowed">
                                <i class="fa-solid fa-book-open-reader fa-2xl"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Search" class="nav-link nav-item fontawesome-icons">
                                <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                            </a>
                        </li>
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link nav-item fontawesome-icons" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <i class="fa-solid fa-user-lock fa-2xl"></i>
                            </a>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-item fontawesome-icons" id="signIn" style="cursor:pointer" asp-controller="Account" asp-action="AuthenticationPage">
                                    <i class="fa-solid fa-user-lock fa-2xl"></i>
                                </a>
                            </li>
                        }
                        @if (User?.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Worker") || User.IsInRole("SuperAdmin")))
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-item fontawesome-icons" asp-area="" asp-controller="Librarian" asp-action="AllBooksInformation">
                                    <i class="fa-solid fa-book fa-2xl"></i>
                                </a>
                            </li>
                        }

                        @if (User?.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-item fontawesome-icons" asp-area="" asp-controller="Admin" asp-action="Report">
                                    <i class="fa-solid fa-lock fa-2xl"></i>
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>

        <nav id="mobileNav" class="menu">
            <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
            <label class="menu-open-button" for="menu-open">
                <span class="hamburger hamburger-1"></span>
                <span class="hamburger hamburger-2"></span>
                <span class="hamburger hamburger-3"></span>
            </label>

            <a asp-area="" asp-controller="Home" asp-action="MainPage" class="menu-item">
                <img src="~/images/litify-logo.png" style="width:30px" />
            </a>
            <a asp-controller="Home" asp-action="Borrowed" class="menu-item">
                <i class="fa-solid fa-book-open-reader fa-lg"></i>
            </a>
            <a asp-controller="Home" asp-action="Search" class="menu-item">
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </a>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="menu-item">
                    <i class="fa-solid fa-user-lock fa-lg"></i>
                </a>
            }
            else
            {
                <a asp-controller="Account" asp-action="AuthenticationPage" class="menu-item">
                    <i class="fa-solid fa-user-lock fa-lg"></i>
                </a>
            }
            @if (User?.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Worker") || User.IsInRole("SuperAdmin")))
            {
                <a asp-controller="Librarian" asp-action="AllBooksInformation" class="menu-item">
                    <i class="fa-solid fa-book fa-lg"></i>
                </a>
            }
            @if (User?.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
            {
                <a class="menu-item" asp-area="" asp-controller="Admin" asp-action="Report">
                    <i class="fa-solid fa-lock fa-lg"></i>
                </a>
            }
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="mobile-view-svg">
                <defs>
                    <filter id="shadowed-goo">

                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
                        <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
                        <feOffset in="shadow" dx="1" dy="1" result="shadow" />
                        <feComposite in2="shadow" in="goo" result="goo" />
                        <feComposite in2="goo" in="SourceGraphic" result="mix" />
                    </filter>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feComposite in2="goo" in="SourceGraphic" result="mix" />
                    </filter>
                </defs>
            </svg>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container pb-5">
            @if (Model != null && Model.GetType().GetProperty("ProgressBarSettings") != null && Model.ProgressBarSettings != null)
            {
                <div class="row pt-5">
                    <div class="row justify-content-center align-items-center h1 text-dark">Вашият прогрес</div>
                    <div class="row justify-content-center align-items-center h3 pt-2">Ранг -> @Model.ProgressBarSettings.MembershipName</div>
                    <div class="row">
                        <div class="col-1 text-center text-dark align-self-center h4">
                            @Model.ProgressBarSettings.ProgressStart
                        </div>
                        @{
                            var progressMaxValue = Model.ProgressBarSettings.ProgressEnd - Model.ProgressBarSettings.ProgressStart;
                        }
                        <div class="col-10 align-self-center text-center">
                            <progress value="@Model.ProgressBarSettings.UserAmount" max="@progressMaxValue" style="--value: @Model.ProgressBarSettings.UserAmount; --max: @Model.ProgressBarSettings.ProgressEnd    ;"></progress>
                        </div>
                        <div class="col-1 text-dark text-center align-self-center h4">
                            @Model.ProgressBarSettings.ProgressEnd
                        </div>
                    </div>
                </div>
            }
        </div>
    </footer>
    <a href="/Home/UserFeedback" class="circle-container">
        <img src="~/images/mail.png" alt="Image" class="circle-image">
    </a>


    <!--ALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    @{
        var loginErrorMessage = TempData["LoginErrorMessage"] as string;
    }
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/library/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/library/js/vendor/popper.min.js"></script>
    <script src="~/library/js/vendor/bootstrap.min.js"></script>
    <script src="~/library/js/vendor/slick.min.js"></script>
    <script src="~/library/js/customJS/mainLayout.js"></script>
    <script src="~/library/js/pages.js"></script>
    <script src="~/library/js/common.js"></script>
    <script src="~/library/js/customJs/loaderEvents.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script src="https://cdn.tiny.cloud/1/zax6pbh3xd7v8fm39f9ehvlzd88h6i2upqoyom0yb0rzheob/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>

    <script type="text/javascript">
        $(function () {
            bookPage.init($('.book-page'));
            userFeedback.init($('.user-feedback-page'));
            editDocumentPage.init($('.edit-document-page'));
            addDocumentPage.init($('.add-document-page'));
        });
    </script>

    <div class="book_custom_loader">
        <div class="book__pg-shadow"></div>
        <div class="book__pg"></div>
        <div class="book__pg book__pg--2"></div>
        <div class="book__pg book__pg--3"></div>
        <div class="book__pg book__pg--4"></div>
        <div class="book__pg book__pg--5"></div>
    </div>

    @section Scripts {
        @if (!string.IsNullOrEmpty(loginErrorMessage))
        {
            <script>
                $(document).ready(function () {
                    showErrorMessage('@loginErrorMessage');

                    function showErrorMessage(message) {
                        Swal.fire({
                            title: 'Грешка!',
                            text: message,
                            icon: 'error',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 5000
                        });
                    }
                });
            </script>
        }
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
