@using System.Reflection;
@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.Extensions.Logging;
@using Library.DataAccess.MainModels;
@using Library.Web.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Litify</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" src="~/images/litify-logo.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script type="text/javascript" src="https://kit.fontawesome.com/47edf10d0e.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--ALERTS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/library/css/custom/MainLayout.css" asp-append-version="true">
    <link rel="stylesheet" href="~/library/css/custom/MainLayoutExtended.css" asp-append-version="true">
    <link rel="stylesheet" href="~/library/css/custom/ImagePost.css" asp-append-version="true">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand p-0 m-0 pb-1" asp-area="" asp-controller="Home" asp-action="MainPage">
                    <img src="~/images/litify-logo.png" style="width:65px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="p-3 navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav align-items-center flex-grow-1 pl-2">
                        <li class="nav-item">
                            <a class="nav-link nav-item fontawesome-icons" asp-area="" asp-controller="Home" asp-action="Borrowed">
                                <i class="fa-solid fa-book-open-reader fa-2xl"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Search" class="nav-link nav-item fontawesome-icons">
                                <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                            </a>
                        </li>
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link nav-item fontawesome-icons" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <i class="fa-solid fa-user-lock fa-2xl"></i>
                            </a>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-item fontawesome-icons" id="signIn" style="cursor:pointer" asp-controller="Account" asp-action="AuthenticationPage">
                                    <i class="fa-solid fa-user-lock fa-2xl"></i>
                                </a>
                                <div class="sign-in-container">
                                    <div class="container">
                                        <div class="row justify-content-center h3 pt-2">
                                            Sign in
                                        </div>

                                        <form method="post" asp-action="SignIn" asp-controller="Account" id="signInForm">
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="row pt-2">
                                                <div class="col">
                                                    <input type="email" id="email" name="email" placeholder="Email" class="form-control" style="width: 100%;" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col position-relative">
                                                    <input type="password" id="password" name="password" placeholder="Password" class="form-control pr-5" style="width: 100%;" />
                                                    <i id="togglePassword" class="far fa-eye position-absolute end-0 top-50 translate-middle-y p-4 user-select-none" style="cursor:pointer"></i>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center pt-3">
                                                <div class="col-9">
                                                    <div class="row">
                                                        <button type="submit" class="btn btn-dark btn-block">Sign In</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        @{
                                            var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                                            var googleProvider = providers.Find(prov => prov.Name == "Google");
                                            var facebookProvider = providers.Find(prov => prov.Name == "Facebook");

                                            var google = googleProvider?.Name ?? "";
                                            var facebook = facebookProvider?.Name ?? "";
                                        }
                                        <form asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                            <div class="row pt-4">
                                                <div class="google-button">
                                                    <div class="col">
                                                        <input type="submit" value="@google" class="googleInput" name="provider" hidden id="" />
                                                        <a class="btn btn-google w-100 googleLink" id="">
                                                            <span>
                                                                <svg viewBox="0 0 48 48" width="32" height="32" class="svg-wrapper--8ky9e">
                                                                    <defs>
                                                                        <path id="google-icon_svg__a2" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"></path>
                                                                    </defs>
                                                                    <clipPath id="google-icon_svg__b2">
                                                                        <use xlink:href="#google-icon_svg__a2" overflow="visible"></use>
                                                                    </clipPath>
                                                                    <path clip-path="url(#google-icon_svg__b2)" fill="#FBBC05" d="M0 37V11l17 13z"></path>
                                                                    <path clip-path="url(#google-icon_svg__b2)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"></path>
                                                                    <path clip-path="url(#google-icon_svg__b2)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"></path>
                                                                    <path clip-path="url(#google-icon_svg__b2)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"></path>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="facebook-button">
                                                    <div class="col">
                                                        <input type="submit" class="facebookInput" value="@facebook" name="provider" hidden id="" />
                                                        <a class="btn btn-facebook w-100 facebookLink" id="">
                                                            <span>
                                                                <svg width="32" height="32" viewBox="0 0 18 18" class="svg-wrapper--8ky9e">
                                                                    <path d="M2.425 0A2.425 2.425 0 0 0 0 2.425v13.15A2.425 2.425 0 0 0 2.425 18H8.91l.012-6.432H7.25a.394.394 0 0 1-.394-.393l-.008-2.074c0-.218.176-.395.394-.395h1.669V6.702c0-2.325 1.42-3.59 3.493-3.59h1.702c.218 0 .395.176.395.394v1.748a.394.394 0 0 1-.394.394h-1.045c-1.128 0-1.346.537-1.346 1.323v1.735h2.478c.236 0 .42.206.392.44l-.246 2.074a.394.394 0 0 1-.392.348h-2.221L11.716 18h3.858A2.426 2.426 0 0 0 18 15.575V2.425A2.425 2.425 0 0 0 15.574 0H2.425z" fill="#FFF" fill-rule="evenodd"></path>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row pt-2">
                                            <div class="col">
                                                <button type="button" class="btn form-control" id="open-sign-up-container">Dont have an account?</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sign-up-container">
                                    <div class="container">
                                        <div class="row justify-content-center h3 pt-2" id="signUpForm">
                                            Sign up
                                        </div>
                                        <form method="post" asp-action="SignUp" asp-controller="Account">
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="row pt-2">
                                                <div class="col">
                                                    <input type="email" id="email" name="email" placeholder="Email" class="form-control" style="width: 100%;" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col position-relative">
                                                    <input type="password" id="SignUpPassword" name="password" placeholder="Password" class="form-control pr-5" style="width: 100%;" />
                                                    <i id="toggleSignUpPassword" class="far fa-eye position-absolute end-0 top-50 translate-middle-y p-4 user-select-none" style="cursor:pointer"></i>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center pt-3">
                                                <div class="col-9">
                                                    <div class="row">
                                                        <button type="submit" class="btn btn-dark btn-block">Sign up</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <form asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                            <div class="row pt-4">
                                                <div class="google-button">
                                                    <div class="col">
                                                        <input type="submit" value="@google" class="googleInput" name="provider" hidden id="" />
                                                        <a class="btn btn-google w-100 googleLink" id="">
                                                            <span>
                                                                <svg viewBox="0 0 48 48" width="32" height="32" class="svg-wrapper--8ky9e">
                                                                    <defs>
                                                                        <path id="google-icon_svg__a1" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"></path>
                                                                    </defs>
                                                                    <clipPath id="google-icon_svg__b1">
                                                                        <use xlink:href="#google-icon_svg__a1" overflow="visible"></use>
                                                                    </clipPath>
                                                                    <path clip-path="url(#google-icon_svg__b1)" fill="#FBBC05" d="M0 37V11l17 13z"></path>
                                                                    <path clip-path="url(#google-icon_svg__b1)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"></path>
                                                                    <path clip-path="url(#google-icon_svg__b1)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"></path>
                                                                    <path clip-path="url(#google-icon_svg__b1)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"></path>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="facebook-button">
                                                    <div class="col">
                                                        <input type="submit" class="facebookInput" value="@facebook" name="provider" hidden id="" />
                                                        <a class="btn btn-facebook w-100 facebookLink" id="">
                                                            <span>
                                                                <svg width="32" height="32" viewBox="0 0 18 18" class="svg-wrapper--8ky9e">
                                                                    <path d="M2.425 0A2.425 2.425 0 0 0 0 2.425v13.15A2.425 2.425 0 0 0 2.425 18H8.91l.012-6.432H7.25a.394.394 0 0 1-.394-.393l-.008-2.074c0-.218.176-.395.394-.395h1.669V6.702c0-2.325 1.42-3.59 3.493-3.59h1.702c.218 0 .395.176.395.394v1.748a.394.394 0 0 1-.394.394h-1.045c-1.128 0-1.346.537-1.346 1.323v1.735h2.478c.236 0 .42.206.392.44l-.246 2.074a.394.394 0 0 1-.392.348h-2.221L11.716 18h3.858A2.426 2.426 0 0 0 18 15.575V2.425A2.425 2.425 0 0 0 15.574 0H2.425z" fill="#FFF" fill-rule="evenodd"></path>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row pt-2">
                                            <div class="col">
                                                <button type="button" class="btn form-control" id="open-sign-in-container">Already a user?</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (User?.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Worker") || User.IsInRole("SuperAdmin")))
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-item fontawesome-icons" asp-area="" asp-controller="Librarian" asp-action="AllBooksInformation">
                                    <i class="fa-solid fa-book fa-2xl"></i>
                                </a>
                            </li>
                        }

                        @if (User?.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-item fontawesome-icons" asp-area="" asp-controller="Admin" asp-action="Statistics">
                                    <i class="fa-solid fa-lock fa-2xl"></i>
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>

        <nav id="mobileNav" class="menu">
            <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
            <label class="menu-open-button" for="menu-open">
                <span class="hamburger hamburger-1"></span>
                <span class="hamburger hamburger-2"></span>
                <span class="hamburger hamburger-3"></span>
            </label>

            <a asp-area="" asp-controller="Home" asp-action="MainPage" class="menu-item">
                <img src="~/images/litify-logo.png" style="width:30px" />
            </a>
            <a asp-controller="Home" asp-action="Borrowed" class="menu-item">
                <i class="fa-solid fa-book-open-reader fa-lg"></i>
            </a>
            <a asp-controller="Home" asp-action="Search" class="menu-item">
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </a>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="menu-item">
                    <i class="fa-solid fa-user-lock fa-lg"></i>
                </a>
            }
            else
            {
                <a asp-controller="Account" asp-action="AuthenticationPage" class="menu-item">
                    <i class="fa-solid fa-user-lock fa-lg"></i>
                </a>
            }
            @if (User?.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Worker") || User.IsInRole("SuperAdmin")))
            {
                <a asp-controller="Librarian" asp-action="AllBooksInformation" class="menu-item">
                    <i class="fa-solid fa-book fa-lg"></i>
                </a>
            }
            @if (User?.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
            {
                <a class="menu-item" asp-area="" asp-controller="Admin" asp-action="Statistics">
                    <i class="fa-solid fa-lock fa-lg"></i>
                </a>
            }
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="shadowed-goo">

                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
                        <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
                        <feOffset in="shadow" dx="1" dy="1" result="shadow" />
                        <feComposite in2="shadow" in="goo" result="goo" />
                        <feComposite in2="goo" in="SourceGraphic" result="mix" />
                    </filter>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feComposite in2="goo" in="SourceGraphic" result="mix" />
                    </filter>
                </defs>
            </svg>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @if (Model != null && Model.GetType().GetProperty("ProgressBarSettings") != null && Model.ProgressBarSettings != null)
            {
                <div class="row pt-5">
                    <div class="row justify-content-center align-items-center h1 text-dark">Вашият прогрес</div>
                    <div class="row justify-content-center align-items-center h3 pt-2">Ранг -> @Model.ProgressBarSettings.MembershipName</div>
                    <div class="row">
                        <div class="col-1 text-center text-dark align-self-center h4">
                            @Model.ProgressBarSettings.ProgressStart
                        </div>
                        @{
                            var progressMaxValue = Model.ProgressBarSettings.ProgressEnd - Model.ProgressBarSettings.ProgressStart;
                        }
                        <div class="col-10 align-self-center text-center">
                            <progress value="@Model.ProgressBarSettings.UserAmount" max="@progressMaxValue" style="--value: @Model.ProgressBarSettings.UserAmount; --max: @progressMaxValue;"></progress>
                        </div>
                        <div class="col-1 text-dark text-center align-self-center h4">
                            @Model.ProgressBarSettings.ProgressEnd
                        </div>
                    </div>
                </div>
            }


        </div>
    </footer>

    <!--ALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    @{
        var loginErrorMessage = TempData["LoginErrorMessage"] as string;
    }
    <script src="~/library/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/library/js/vendor/popper.min.js"></script>
    <script src="~/library/js/vendor/bootstrap.min.js"></script>
    <script src="~/library/js/vendor/slick.min.js"></script>
    <script src="~/library/js/customJS/mainLayout.js"></script>
    <script src="~/library/js/pages.js"></script>
    <script src="~/library/js/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script src="https://cdn.tiny.cloud/1/zax6pbh3xd7v8fm39f9ehvlzd88h6i2upqoyom0yb0rzheob/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>

    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            bookPage.init($('.book-page'));
            borrowBook.init($('.borrowed-page'));
            userFeedback.init($('.user-feedback-page'));
            editDocumentPage.init($('.edit-document-page'));
            addDocumentPage.init($('.add-document-page'));
        });
    </script>


    @section Scripts {
        @if (!string.IsNullOrEmpty(loginErrorMessage))
        {
            <script>
                $(document).ready(function () {
                    showErrorMessage('@loginErrorMessage');

                    function showErrorMessage(message) {
                        Swal.fire({
                            title: 'Error!',
                            text: message,
                            icon: 'error',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 5000
                        });
                    }
                });
            </script>
        }
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
