@page
@using Library.DataAccess.MainModels;
@using Library.Web.Areas.Identity.Pages.Account;
@inject SignInManager<ApplicationUser> SignInManager
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
@section Styles {
    <link href="@Url.Content("~/css/custom/IdentityStructure.css")" rel="stylesheet" type="text/css" />
}

<style>
    body {
        background-image: url("../images/tryout.png");
    }

    #Layer_1 {
        position: fixed;
        top: 100px;
        left: 180px;
        transform: rotateZ(90deg);
    }

    #Layer_2 {
        position: fixed;
        top: 100px;
        right: 180px;
    }
    #page-form-outline{
        z-index:1;
    }
</style>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="800px" height="600px" viewBox="0 0 800 600" enable-background="new 0 0 800 600" xml:space="preserve">
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="174.7899" y1="186.34" x2="330.1259" y2="186.34" gradientTransform="matrix(0.8538 0.5206 -0.5206 0.8538 147.9521 -79.1468)">
<stop offset="0" style="stop-color:#FFC035" />
<stop offset="0.221" style="stop-color:#F9A639" />
<stop offset="1" style="stop-color:#E64F48" />
</linearGradient>
<circle fill="url(#SVGID_1_)" cx="266.498" cy="211.378" r="77.668" />
<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="290.551" y1="282.9592" x2="485.449" y2="282.9592">
<stop offset="0" style="stop-color:#FFA33A" />
<stop offset="0.0992" style="stop-color:#E4A544" />
<stop offset="0.9624" style="stop-color:#00B59C" />
</linearGradient>
<circle fill="url(#SVGID_2_)" cx="388" cy="282.959" r="97.449" />
<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="180.3469" y1="362.2723" x2="249.7487" y2="362.2723">
<stop offset="0" style="stop-color:#12B3D6" />
<stop offset="1" style="stop-color:#7853A8" />
</linearGradient>
<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="367.3469" y1="375.3673" x2="596.9388" y2="375.3673">
<stop offset="0" style="stop-color:#12B3D6" />
<stop offset="1" style="stop-color:#7853A8" />
</linearGradient>
<circle fill="url(#SVGID_4_)" cx="482.143" cy="375.367" r="114.796" />
<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="365.4405" y1="172.8044" x2="492.4478" y2="172.8044" gradientTransform="matrix(0.8954 0.4453 -0.4453 0.8954 127.9825 -160.7537)">
<stop offset="0" style="stop-color:#FFA33A" />
<stop offset="1" style="stop-color:#DF3D8E" />
</linearGradient>
<circle fill="url(#SVGID_5_)" cx="435.095" cy="184.986" r="63.504" />
</svg>

<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="800px" height="600px" viewBox="0 0 800 600" enable-background="new 0 0 800 600" xml:space="preserve">
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="174.7899" y1="186.34" x2="330.1259" y2="186.34" gradientTransform="matrix(0.8538 0.5206 -0.5206 0.8538 147.9521 -79.1468)">
<stop offset="0" style="stop-color:#FFC035" />
<stop offset="0.221" style="stop-color:#F9A639" />
<stop offset="1" style="stop-color:#E64F48" />
</linearGradient>
<circle fill="url(#SVGID_1_)" cx="266.498" cy="211.378" r="77.668" />
<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="290.551" y1="282.9592" x2="485.449" y2="282.9592">
<stop offset="0" style="stop-color:#FFA33A" />
<stop offset="0.0992" style="stop-color:#E4A544" />
<stop offset="0.9624" style="stop-color:#00B59C" />
</linearGradient>
<circle fill="url(#SVGID_2_)" cx="388" cy="282.959" r="97.449" />
<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="180.3469" y1="362.2723" x2="249.7487" y2="362.2723">
<stop offset="0" style="stop-color:#12B3D6" />
<stop offset="1" style="stop-color:#7853A8" />
</linearGradient>
<circle fill="url(#SVGID_3_)" cx="215.048" cy="362.272" r="34.701" />
<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="367.3469" y1="375.3673" x2="596.9388" y2="375.3673">
<stop offset="0" style="stop-color:#12B3D6" />
<stop offset="1" style="stop-color:#7853A8" />
</linearGradient>
<circle fill="url(#SVGID_4_)" cx="482.143" cy="375.367" r="114.796" />
<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="365.4405" y1="172.8044" x2="492.4478" y2="172.8044" gradientTransform="matrix(0.8954 0.4453 -0.4453 0.8954 127.9825 -160.7537)">
<stop offset="0" style="stop-color:#FFA33A" />
<stop offset="1" style="stop-color:#DF3D8E" />
</linearGradient>
<circle fill="url(#SVGID_5_)" cx="435.095" cy="184.986" r="63.504" />
</svg>

<div class="row">
    <div class="col-md-6 offset-md-3" id="page-form-outline">
        <section>
            <form id="account" method="post" class="p-2">
                <h2 class="d-flex align-items-center justify-content-center">Login</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <label asp-for="Input.RememberMe" class="text-left">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div class="d-flex">
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgotten password?</a>
                        </div>
                    </div>

                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-dark">Log in</button>
                </div>
                <div class="col-md-6 offset-md-3">
                    <br />
                    <h5 class="text-center">Not a member:</h5>
                    <p class="text-center">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Join Us</a>
                    </p>
                </div>
            </form>
            <br />
        </section>
        <section>
            <h3 class="d-flex align-items-center justify-content-center">Log in with:</h3>
            <hr />

            @{
                var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                var googleProvider = providers.Find(prov => prov.Name == "Google");
                var facebookProvider = providers.Find(prov => prov.Name == "Facebook");

                var google = googleProvider?.Name ?? "";
                var facebook = facebookProvider?.Name ?? "";
            }
            <form asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="row-fluid d-flex justify-content-around">

                    <div class="facebook-button col-5">
                        <input type="submit" value="@facebook" class="facebookInput" name="provider" hidden id="" />
                        <a class="btn btn-facebook w-100 facebookLink" id="">
                            <span>
                                <svg width="32" height="32" viewBox="0 0 18 18" class="svg-wrapper--8ky9e">
                                    <path d="M2.425 0A2.425 2.425 0 0 0 0 2.425v13.15A2.425 2.425 0 0 0 2.425 18H8.91l.012-6.432H7.25a.394.394 0 0 1-.394-.393l-.008-2.074c0-.218.176-.395.394-.395h1.669V6.702c0-2.325 1.42-3.59 3.493-3.59h1.702c.218 0 .395.176.395.394v1.748a.394.394 0 0 1-.394.394h-1.045c-1.128 0-1.346.537-1.346 1.323v1.735h2.478c.236 0 .42.206.392.44l-.246 2.074a.394.394 0 0 1-.392.348h-2.221L11.716 18h3.858A2.426 2.426 0 0 0 18 15.575V2.425A2.425 2.425 0 0 0 15.574 0H2.425z" fill="#FFF" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="google-button col-5">
                        <input type="submit" value="@google" class="googleInput" name="provider" hidden id="" />
                        <a class="btn btn-google googleLink w-100" id="">
                            <span>
                                <svg viewBox="0 0 48 48" width="32" height="32" class="svg-wrapper--8ky9e">
                                    <defs>
                                        <path id="google-icon_svg__a4" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"></path>
                                    </defs>
                                    <clipPath id="google-icon_svg__b4">
                                        <use xlink:href="#google-icon_svg__a4" overflow="visible"></use>
                                    </clipPath>
                                    <path clip-path="url(#google-icon_svg__b4)" fill="#FBBC05" d="M0 37V11l17 13z"></path>
                                    <path clip-path="url(#google-icon_svg__b4)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"></path>
                                    <path clip-path="url(#google-icon_svg__b4)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"></path>
                                    <path clip-path="url(#google-icon_svg__b4)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>

                </div>
            </form>

        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    document.getElementById("facebookLink").addEventListener("click", function () {
        document.getElementById("facebookInput").click();
    });
    document.getElementById("googleLink").addEventListener("click", function () {
        document.getElementById("googleInput").click();
    });
</script>