@page
@using Library.DataAccess.MainModels;
@model RegisterModel
@inject SignInManager<ApplicationUser> SignInManager

@section Styles {
    <link href="@Url.Content("~/css/custom/IdentityStructure.css")" rel="stylesheet" type="text/css" />
}

<div class="register-page">
    <div class="row-fluid">
        <div class="col-md-6 offset-md-3">
            <h1 class=" d-flex align-items-center justify-content-center">Register</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="p-2">
                <h2 class="d-flex align-items-center justify-content-center">Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName" class="form-label"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName" class="form-label"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Input.Country" class="form-label"></label>
                    <input asp-for="Input.Country" class="form-control" />
                    <span asp-validation-for="Input.Country" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="Input.BirthDate" class="form-label"></label>
                    <input asp-for="Input.BirthDate" class="form-control" />
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>

                </div>


                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-dark">Register</button>
                <div class="col-md-6 offset-md-3">
                    <br />
                    <h5 class="text-center">Already a member:</h5>
                    <p class="text-center">
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Use your account</a>
                    </p>
                </div>
            </form>
            <br />
            <section>
                <h3 class="d-flex align-items-center justify-content-center">Register with:</h3>
                <hr />

                @{
                    var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    var googleProvider = providers.Find(prov => prov.Name == "Google");
                    var facebookProvider = providers.Find(prov => prov.Name == "Facebook");

                    var google = googleProvider?.Name ?? "";
                    var facebook = facebookProvider?.Name ?? "";

                }
                <form asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="row-fluid d-flex justify-content-around">

                        <div class="facebook-button col-5">
                            <input type="submit" value="@facebook" class="facebookInput" name="provider" hidden id="" />
                            <a class="btn btn-facebook w-100 facebookLink" id="">
                                <span>
                                    <svg width="32" height="32" viewBox="0 0 18 18" class="svg-wrapper--8ky9e">
                                        <path d="M2.425 0A2.425 2.425 0 0 0 0 2.425v13.15A2.425 2.425 0 0 0 2.425 18H8.91l.012-6.432H7.25a.394.394 0 0 1-.394-.393l-.008-2.074c0-.218.176-.395.394-.395h1.669V6.702c0-2.325 1.42-3.59 3.493-3.59h1.702c.218 0 .395.176.395.394v1.748a.394.394 0 0 1-.394.394h-1.045c-1.128 0-1.346.537-1.346 1.323v1.735h2.478c.236 0 .42.206.392.44l-.246 2.074a.394.394 0 0 1-.392.348h-2.221L11.716 18h3.858A2.426 2.426 0 0 0 18 15.575V2.425A2.425 2.425 0 0 0 15.574 0H2.425z" fill="#FFF" fill-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        
                        <div class="google-button col-5">
                            <input type="submit" value="@google" class="googleInput" name="provider" hidden id="" />
                            <a class="btn btn-google w-100 googleLink" id="">
                                <span>
                                    <svg viewBox="0 0 48 48" width="32" height="32" class="svg-wrapper--8ky9e">
                                        <defs>
                                            <path id="google-icon_svg__a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"></path>
                                        </defs>
                                        <clipPath id="google-icon_svg__b">
                                            <use xlink:href="#google-icon_svg__a" overflow="visible"></use>
                                        </clipPath>
                                        <path clip-path="url(#google-icon_svg__b)" fill="#FBBC05" d="M0 37V11l17 13z"></path>
                                        <path clip-path="url(#google-icon_svg__b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"></path>
                                        <path clip-path="url(#google-icon_svg__b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"></path>
                                        <path clip-path="url(#google-icon_svg__b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"></path>
                                    </svg>
                                </span>
                            </a>
                        </div>

                    </div>
                </form>

            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
