@using Library.Models.ViewModels;
@model ClientManagementViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="client-management">
    <div class="container">
        <div id="filter-people">
            <form asp-action="StaffManagement" method="get" id="staffManagementForm">
                <div class="form-actions no-color">
                    <p>
                        Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-action="StaffManagement">Back to Full List</a>
                    </p>
                </div>
                <label>Show Admins and Workers only:</label>
                <input type="checkbox" id="toggleAdminsAndWorkers" name="workersOnly" data-toggle="toggle" data-on="Yes" data-off="No" />
            </form>
        </div>
        <div id="staff-table">
            <div class="table-responsive">
                <div class="table-header row">
                    <div class="col">First Name</div>
                    <div class="col">Last Name</div>
                    <div class="col">Position</div>
                    <div class="col">Salary</div>
                    <div class="col"></div>
                </div>
                @foreach (var worker in Model.Users)
                {
                    <div class="table-row row">
                        <div class="col">@worker.FirstName</div>
                        <div class="col">@worker.LastName</div>
                        <div class="col">@worker.Position</div>
                        <div class="col">@worker.Salary</div>
                        <div class="col">
                            <a href="@Url.Action("EditStaffInformation", "Admin", new { userId = worker.Id })" class="btn btn-warning">
                                Edit
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>