@using Library.DataAccess.MainModels;
@model ApplicationUser
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        background-color: #f8f9fa;
    }

    .custom-container {
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        margin-top: 50px;
    }

    .img-container {
        text-align: center;
    }

    .img-thumbnail {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>
<div class="edit-staff-information">
    <div class="custom-container">
        <div class="row justify-content-center mb-4">
            <div class="py-2 display-5 text-center">Потребителска информация</div>
            <hr style="width:95%;color:#00d1d1;" class="py-1" />
        </div>
        <div class="row justify-content-around">
            <div class="col-md-3 img-container">
                @{
                    var profileImage = $"https://res.cloudinary.com/dzaicqbce/image/upload/v1695818842/library-profile-image-for-{Model.Id}";
                }
                <img src="@profileImage" alt="User Image" class="img-thumbnail" id="userImage" onerror="replaceImage()" />
            </div>
            <div class="col-md-8">
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <div class="row justify-content-between">
                    <div class="form-group col-6">
                        <label for="FirstName" class="fs-5"><strong>Име:</strong><br />&#x2022; @Model.FirstName</label>
                    </div>
                    <div class="form-group col-6">
                        <label for="LastName" class="fs-5"><strong>Фамилия:</strong><br />&#x2022; @Model.LastName</label>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="form-group col-6">
                        <label for="Username" class="fs-5"><strong>Потребителско име:</strong><br />&#x2022; @Model.UserName</label>
                    </div>
                    <div class="form-group col-6">
                        <label for="Email" class="fs-5"><strong>Имейл:</strong><br />&#x2022; @Model.Email</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Position" class="fs-5"><strong>Позиция:</strong></label>
                    <select class="form-select fs-5" id="Position" name="Position">
                        @if (Model.Position == "Администратор")
                        {
                            <option value="Администратор" selected>Администратор</option>
                        }
                        else
                        {
                            <option value="Администратор">Администратор</option>
                        }
                        @if (Model.Position == "Библиотекар")
                        {
                            <option value="Библиотекар" selected>Библиотекар</option>
                        }
                        else
                        {
                            <option value="Библиотекар">Библиотекар</option>
                        }
                        @if (Model.Position == "Потребител"||Model.Position.Trim()=="")
                        {
                            <option value="Потребител" selected>Потребител</option>
                        }
                        else
                        {
                            <option value="Потребител">Потребител</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="Salary" class="fs-5"><strong>Годишна заплата:</strong></label>
                    <input type="number" class="form-control fs-5" id="Salary" name="Salary" value="@Model.Salary" placeholder="0" />
                </div>
                <button id="submitButton" class="btn btn-success col-12 fs-5">Запази промените</button>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>
<script>
    function replaceImage() {
        document.getElementById('userImage').src = '/images/anonymous-user.jpg';
    }
</script>
